

<!-- <img src="../assets/logo.jpg" alt=""> -->
<!-- <button (click)="gotohome()"  class="btn btn-success" id="home" >HOME</button> -->

<!-- <button (click)="gotohome()"  class="btn btn-outline-light" id="one" >ADMIN LOGOUT</button> -->
<body>
    <meta name="viewport"
        content="width=device-width,
        initial-scale=1.0">
<div >
    
    <!-- <video class="relative" src="../assets/production ID_4074432.mp4" autoplay ></video> -->
    
    <div class="absolute2" >
        Get all your Medicines &   
        Healthcare Essentials 
        <br>

        we have served hundreds of customers through our avowed dedication to serve mankind.
      <br>
      <br>    
      <img width="770px" height="331px" style="background-color: rgba(255, 255, 255, 0.137);"  src="../assets/makeinindia.png" alt="">   
    </div>
    <div class="absolute">
        <app-customerlogin></app-customerlogin> 
        <br>
        <p><b>First Time User?</b></p>
        <button (click)="gotoregister()"  class="btn btn-dark" id="one">REGISTER NOW</button>
        <button (click)="signin()"  class="btn btn-success" id="one" >ADMIN LOGIN</button>
      
    </div>


    
    <img class="relative" src="../assets/bacimage.jpg" alt="" width="100%">







<!-- <router-outlet></router-outlet> -->
