<div class="bge" style="width: 100%; height: 695px;">
<br><br>
<button (click)="backtodashboard()"  class="btn btn-primary"id="one" >&lAarr;</button>

<p *ngIf="ProductList.length === 0" style="text-align: center;font-size: xx-large;font-family: Verdana, Geneva, Tahoma, sans-serif">
LOOKS LIKE U HAVE NOT SHOPPED YET
</p>

<form *ngIf="ProductList.length>0">
<table class="table table-striped table-bordered">
    
    <thead>
        <tr>

            <th hidden>CART ID</th>
            <th hidden>PRODUCT ID</th>
            <th>PRODUCT NAME</th> 
            <th>PRODUCT PRICE</th>
            <th>PRODUCT TYPE</th>
            <!-- <th>QUANTITY</th>
            <th>CONFIRM QUANTITY</th>-->
             <th>DON'T WANT</th>
        </tr>
    </thead>
    <tbody>
        <meta name="viewport"
        content="width=device-width,
        initial-scale=1.0">
          <tr *ngFor="let br of ProductList">  
            <td hidden>{{br.id}}</td>            
            <td hidden> {{br.pid}} </td>
            <td> {{br.pname}} </td>
            <td> {{br.price | currency:'INR'}} </td> 
            <td>{{br.ptype}}</td>
            <td>
                <button  type="button" class="btn btn-danger" (click)="OnClickDelProdct(br.id)">DELETE IT</button>
            </td> 
        </tr> 
    </tbody>
    <br>
</table>

<p class="sum" >TOTAL PRICE : {{sumList }}Rs</p>
<button class="middle" (click)="payment()" class="btn btn-outline-success" style="margin-left: 47% ;">YES ORDER</button>
</form>

</div>