<div class="bge" style="width: 100%; height: 695px;">
<br><br>
<button (click)="adminhome()"  class="btn btn-primary" id="one" ><b><i>BACK TO ADMIN</i></b> </button>
<br>
<br>
<form>
<table class="table table-striped table-bordered">
    
    <thead>
        <tr >
            <th>PRODUCT ID</th>
            <th>PRODUCT NAME</th> 
            <th>PRODUCT PRICE</th>
            <th hidden>PRODUCT QUANTITY</th>
            <th>PRODUCT CATEGORY</th>
            <th>EDIT PRODUCT? </th>
            <th>DELETE PRODUCT!</th>  
            <!-- <th colspan="2"> AVAILABILTY</th>  -->
            <th>PRODUCT STATUS</th> 
            <th>AVAILABILTY</th>
            

        </tr>
    </thead>
    <tbody>
        <meta name="viewport"
        content="width=device-width,
        initial-scale=0.4">
          <tr *ngFor="let br of ProductList">              
            <td> {{br.pid}} </td>
            <td> {{br.pname}} </td>
            <td> {{br.price}} </td>  
            <td hidden> {{br.pqty}} </td> 
            <td>{{br.ptype}}</td>
                
            <td>
                <button type="button" class="btn btn-warning" (click)="OnClickEdit(br.pid)" >EDIT THIS</button>
            </td>
            <td>
                <button  type="button" class="btn btn-danger" (click)="OnClickDel(br.pid)">DELETE IT</button>
            </td>    
            <!-- <td>
               <button (click)="available(br.pid)" *ngIf="br.status=='N'" >MAKE AVAILABLE</button>
            </td>
            <td>
                <button (click)="available(br.pid)" *ngIf="br.status=='A'" >MAKE UNAVAILABLE</button>
             </td> -->
             <td> {{br.status}} </td>
             <TD>
                 <BUtton (click)="testing(br.pid,br.status)" *ngIf="br.status=='N'"  class="btn btn-success" >A</BUtton>
                 <BUtton (click)="testing(br.pid,br.status)" *ngIf="br.status=='A'"  class="btn btn-danger" >N</BUtton>
             </TD>


        </tr>
    </tbody>
    <br>
</table>
</form>
</div>