<div class="bge" style="width: 100%; height: 695px;">
<br><br>
<button (click)="backtodashboard()"  class="btn btn-primary"id="one" >&lAarr;</button>
<form>
<table class="table table-striped table-bordered">
    
    <thead>
        <tr>
            <th>PRODUCT ID</th>
            <th>PRODUCT NAME</th> 
            <th>PRODUCT PRICE</th>
            <th>PRODUCT TYPE</th>
            <th>WANNA ADD TO CART?</th>
        </tr>
    </thead>
    <tbody>
        <meta name="viewport"
        content="width=device-width,
        initial-scale=0.4">
          <tr *ngFor="let br of ProductList">              
            <td> {{br.pid}} </td>
            <td> {{br.pname}} </td>
            <td> {{br.price| currency:'INR'}} </td>  
            <td>{{br.ptype}}</td>
            <td><button (click)="addtomycart(br.pid,br.pname,br.price,br.ptype)" class="btn btn-warning" >ADD TO CART</button></td>
        </tr>
    </tbody>
    <br>
</table>

</form>
</div>