* {
    box-sizing: border-box
}

.bge{
    background: url("https://cdn.pixabay.com/photo/2016/12/05/19/49/syringe-1884784_960_720.jpg");
background-size: cover;
  }
 
/* Add padding to containers */
 
.container {
    padding: 0px;
    background-color: #8ba8a3a8;
    border-radius: 50px;
    width: 50%;
}
 
/* Full-width input fields */
 
input[type=text],
input[type=password] {
    border-style: solid;
    border-width: 2px;
    border-color: #820000;
    border-radius: 50px;
    width: 80%;
    padding: 12px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #ffffff;
    position: relative;
    left: 10%;
}
 
input[type=text]:focus,
input[type=password]:focus {
    background-color: rgb(255, 255, 255);
    outline: none;
    font-size: large;
    font: 100;
}
 
/* Overwrite default styles of hr */
 
hr {
    border: 2px solid #000000;
    margin-bottom: 25px;
}
 
/* Set a style for the submit/register button */
 
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 50px;
}
 
.registerbtn:hover {
    opacity: 1;
}
 
/* Add a blue text color to links */
 
a {
    color: dodgerblue;
}
 
/* Set a grey background color and center the text of the "sign in" section */
 
.signin {
    background-color: #b09ecf;
    text-align: center;
}

.alert div {
    background-color: #fed3d3;
    color: #820000;
    
  }

  p{
    
    
    text-align: center;
    font-style: italic;
    font-weight: bolder;
   
}
